* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'montserat-bold';
    src: url(../font/Montserrat-Bold.otf);
}

@font-face {
    font-family: 'montserat-regular';
    src: url(../font/Montserrat-Regular.otf);
}

body {
    background-color: #babf21;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
}

main {
    background-color: #f2eda0;
    position: relative;
}

.spel-previeuw {
    margin-bottom: 10px;
    background-color: #f2b544;
    border-radius: 15px;
    width: 80%;
    height: auto;
    padding: 5% 10% 5% 10%;
    display: block;
}

.spel-previeuw h2 {
    font-family: montserat-bold;
    color:#ffffff;
}

.spel-previeuw p {
    font-size: 13px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #4e55d9;
    border-radius: 50px;
    color: white;
    padding: 5px 10px 5px 10px;
    margin: 0 5px 5px 0;
    transition: 0.5s;
}

.tag:hover {
    background-color: #6c73ee;
    transition: 0.5s;
}

h1 {
    font-family: montserat-bold;
}

.andere-spelen {
    background-color: #d8d27c;
    box-shadow: inset 17px 0px 22px -9px rgba(0,0,0,0.15);
    overflow-y: scroll;
}

@media only screen and (min-width: 600px) { /* desktop only */
    main {
        width: 70%;
        margin: 0 15% 0 15%;
        min-height: 70vh;
        display: flex;
    }

    .spel-content {
        width: 70%;
        padding: 7% 5% 5% 5%;
    }

    .andere-spelen {
        width: 30%;
        padding: 7% 3% 5% 3%;
    }

    .spel-img {
        width: 70%;
        height: auto;
        margin: 10px 20px 20px 0;
    }
}

@media only screen and (max-width: 1000px) { /* i-pad overwrites (tussenformaat) */
    main {
        width: auto;
        margin: 0 0 0 0;
    }

    main p {
        font-size: 12px;
    }

    .spel-content {
        width: 60%;
        padding: 100px 15px 10px 15px;
    }

    .andere-spelen {
        width: 40%;
        padding: 100px 15px 5px 15px;
    }

    .spel-previeuw {
        width: 90%;
        padding: 5%;
    }
    
}

@media only screen and (max-width: 600px) { /* mobile only*/
    body {
        background-color: #babf21;
        background-image: none;
    }

    main {
        width: 100%;
    }

    main p {
        font-size: 14px;
    }

    .spel-img {
        position:relative;
        width: 80%;
        height: auto;
        margin: 5px 0 5px 0;
    }

    .spel-content {
        width: 90%;
        padding: 25px 5% 10px 5%;
    }

    .andere-spelen {
        margin: 0;
        padding: 0;
        visibility: hidden;
        height: 0;
        width: 0;
        overflow: hidden;
    }
}