* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'montserat-bold';
    src: url(../font/Montserrat-Bold.otf);
}

@font-face {
    font-family: 'montserat-regular';
    src: url(../font/Montserrat-Regular.otf);
}

body {
    background-color: #babf21;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

main {
    background-color: #f2eda0;
    position: relative;
}

@media only screen and (max-width: 1000px) { /* i-pad font size */
    main p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 800px) { /* desktop only */
    main {
        width: 60%;
        margin: 0 15% 0 15%;
        padding: 50px 5% 50px 5%;
        min-height: 70vh;
    }

    .spel-img {
        width: auto;
        height: auto;
        margin: 10px 20px 20px 0;
    }

    .row {
        display: flex;
        align-content: flex-start;
    }

    .img-row {
        align-items: stretch;
    }
}

@media only screen and (max-width: 800px) { /* mobile only*/
    body {
        background-color: #babf21;
        background-image: none;
    }

    main {
        width: 100%;
        padding: 5% 10% 5% 10%;
    }

    main p {
        font-size: 14px;
    }

    .spel-img {
        position:relative;
        width: 80%;
        height: auto;
        margin: 5px 0 5px 0;
    }
}